#navHeader{
    text-align: center;
    font-family: 'Cinzel';
}

table.table th, table.table td {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.sideTableExp td, th{
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: inline-block;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#heatMapUser .highcharts-container .highcharts-root .highcharts-exporting-group{
    display: none;
}

#heatMapUser .highcharts-container .highcharts-root .highcharts-credits{
    display: none;
}

#heatMapGraphAggregate .highcharts-container .highcharts-root .highcharts-exporting-group{
    display: none;
}

#heatMapGraphAggregate .highcharts-container .highcharts-root .highcharts-credits{
    display: none;
}

#heatMapGraphAggregate .highcharts-container .highcharts-root .highcharts-series-group .highcharts-series{
     opacity: 1;
 }

#heatMapGraphAggregate .highcharts-container .highcharts-root .highcharts-series-group .highcharts-markers{
    opacity: 0.5;
}

#heatMapUser .highcharts-container .highcharts-root .highcharts-series-group .highcharts-series{
    opacity: 1;
}

#heatMapUser .highcharts-container .highcharts-root .highcharts-series-group .highcharts-markers{
    opacity: 0.5;
}

#closestMatch .highcharts-container .highcharts-root .highcharts-credits{
    display: none;
}

.conf_legend {
    display: flex;
    align-items: center;
    text-align: center;
    width: 30px;
    float: left;
    padding-top: 4px
}
.conf_legend::before, .conf_legend::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid;
}

header.masthead {
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
    height: 95%;
    text-align: center;
    color: #fff;
    background-image: url("../images/back2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead .masthead-heading {
    text-shadow: -1px 0 black, 0 5px black, 5px 0 black, 0 -1px black;
    color: #fff;
    padding-top: 7%;
    font-size: 6.25rem;
    font-weight: 700;
    line-height: 8.25rem;
    border-width: 19px;
    margin-bottom: 2rem;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#explore_button{
    box-shadow: 0 8px 16px 0 rgba(76, 69, 69, 0.2), 0 6px 20px 0 rgba(132, 45, 45, 0.19);
    border: 2px solid black;
    border-radius: 17px;
    cursor: pointer;
    font-size: 30px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.divider-custom{margin:1.25rem 0 1.5rem;width:100%;display:flex;justify-content:center;align-items:center}
.divider-custom .divider-custom-line{width:100%;max-width:14rem;height:.25rem;background-color:black;border-radius:1rem;border-color:black!important}
.divider-custom .divider-custom-line:first-child{margin-right:1rem}
.divider-custom .divider-custom-line:last-child{margin-left:1rem}
.divider-custom .divider-custom-icon{color:black!important;font-size:2rem}
.divider-custom.divider-light .divider-custom-line{background-color:black}
.divider-custom.divider-light .divider-custom-icon{color:black!important}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: scroll;
}