#navHeader{
    text-align: center;
    font-family: 'Cinzel';
}

table.table th, table.table td {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.sideTableExp td, th{
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: inline-block;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#heatMapUser .highcharts-container .highcharts-root .highcharts-exporting-group{
    display: none;
}

#heatMapUser .highcharts-container .highcharts-root .highcharts-credits{
    display: none;
}

#heatMapGraphAggregate .highcharts-container .highcharts-root .highcharts-exporting-group{
    display: none;
}

#heatMapGraphAggregate .highcharts-container .highcharts-root .highcharts-credits{
    display: none;
}

#heatMapGraphAggregate .highcharts-container .highcharts-root .highcharts-series-group .highcharts-series{
     opacity: 1;
 }

#heatMapGraphAggregate .highcharts-container .highcharts-root .highcharts-series-group .highcharts-markers{
    opacity: 0.5;
}

#heatMapUser .highcharts-container .highcharts-root .highcharts-series-group .highcharts-series{
    opacity: 1;
}

#heatMapUser .highcharts-container .highcharts-root .highcharts-series-group .highcharts-markers{
    opacity: 0.5;
}

#closestMatch .highcharts-container .highcharts-root .highcharts-credits{
    display: none;
}

.conf_legend {
    display: flex;
    align-items: center;
    text-align: center;
    width: 30px;
    float: left;
    padding-top: 4px
}
.conf_legend::before, .conf_legend::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid;
}

header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../images/data.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
header.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 17rem;
        padding-bottom: 12.5rem;
    }
    header.masthead .masthead-subheading {
        font-size: 2.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }
    header.masthead .masthead-heading {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }
}