<div id="home" style="margin-top: 6%; margin-left: 4%; margin-right: 4%; text-align: justify;">

<h1 style="text-align: center; font-family: 'Courier New', Courier, monospace">
 WELCOME TO INCOGNITOMATCH
</h1>

The following information will provide a short overview and instruction necessary for applying the task.<br><br>

<h3 style="font-family: 'Courier New', Courier, monospace">
 Overview
</h3>
Matching is a crucial element of integrating structured and
semi-structured data.<br>
For instance, when multiple organizations are merged and has to transfer the data
between systems or when new system is introduced and the data has to migrate.
Matching schemata is the first step in this process.
The matching aimed at finding correspondences between a target and candidate schema. <br>
Human-in-the-loop data integration, and specifically in
matching, has been recently challenged by the big data era.
With richer data source variety, bigger volumes, and faster
velocity, accessing and making use of humans input has become
much harder. <br>
Recently, the traditional paradigm of “humans do it better"
was challenged with a recent work showing that human judgment
is biased, and thus affects human matching abilities. <br>
Acknowledging cognitive awareness in human matching, InCognitoMatch <b style="font-size: x-large;">In</b>troducing
<b style="font-size: x-large;">Cognit</b>ive <b style="font-size: x-large;">B</b>iases
to Crowdsourced <b style="font-size: x-large;">Match</b>ing is a handy tool to validate, annotate, and correct correspondences
using the crowd whilst accounting for human
matching biases
 <br><br>

<h3 style="font-family: 'Courier New', Courier, monospace">
 The Task
</h3>
In the main part of the session, several pairs will be introduced.
Each pair consists a term from the candidate schema
and a term from target schema. <br>
Regarding each pair, supplementary properties regarding
the matching problem will be introduced including
term names and types, instance examples, schemata hierarchy,
algorithm matching result and the majority decision of the crowd. <br>

Your task is to provide feedback, stating whether a pair is a match
accompanied by a confidence level in the decision on a [0,100] scale. <br>
You will not be able to choose confidence level of 50.
You will have to achieve as many matching questions as possible within a
limited time frame.<br><br>

<h4 style="font-family: 'Courier New', Courier, monospace">
 Example
</h4>

<img class="center" src="/images/questionScreen.PNG" width="68%" height="60%" alt="Task Screen Example">
<br>
The figure above presents an example for task screen that you will encounter.
we see a request regarding a pair of <em>quantity</em> and <em>qty</em>.<br>
The top right part contains indication about the time remains for the task.<br>
Next, each side is devoted to present term details.
Each term name appears clearly on top and marked in red in the center of the screen.<br>
Following the name, the data types and instance examples are introduced.
As shown, the types of quantity and
qty is Decimal and int respectively. An instance of
quantity is 4580.55 and uom instance is 1.<br>
The center part of the screen displays schemata hierarchy.
The color legend is as follows:<br>
<b style="color: green">Green</b> - Parents of the term.<br>
<b style="color: red">Red</b> - The Term.<br>
<b style="color: blue">Blue</b> - Siblings of the term.
<br>
The direct parent of quantity is Item and a sibling term is, for
example unitOfMeasure.<br>
As demonstrated in the later part,
the algorithm matching result is 29% and the majority decision of the crowd is 72.3. <br>
When achieving a matching decision, this information will be submitted via the bottom part.<br><br>


<h4 style="font-family: 'Courier New', Courier, monospace">
 Task Settings
</h4>

Two types of tasks are offered for you- a short demonstration ("DEMO") or full task ("TASK").<br>
The demo will last about 5 minutes where the full task will last up to 20 minutes.<br>

Both starts with providing personal information (e.g., nickname) and performing an intelligence test.<br>
The intelligence test is restricted to 2 minutes. Try answer as many riddles as you can.<br>
Subsequently, a subset of matching correspondences will be introduced.
The matching screen structure is identical to the description above.
The demo task has only one part of matching where the full version has
additional part of training (stands as the first part with unlimited time).<br>
At the end, your session will be finalized with a worker dashboard contains statistics about your performance.<br>

By proceeding to the task, you approve that your personal information and your task results
will be stored in the system. This data will be used for academic research only.<br><br>

Click on the button DEMO if you would like to have short demonstration. <br>
Otherwise, click on the button TASK.<br>

 <div style="text-align: center; margin-top: 3.5%;">
  <button class="btn btn-md btn-info px-lg-5" type="button" ng-click="hide_pages();show_exp('demo')">DEMO</button>
  <button class="btn btn-md btn-info px-lg-5" type="button" ng-click="hide_pages();show_exp('actual_task')">TASK</button>
 </div>
 <br><br>

</div>

