<div id="home" style="margin-top: 6%; margin-left: 4%;">

 <h1 style="text-align: center; font-family: 'Courier New', Courier, monospace">
  Welcome to SCHEMA MATCHING Task!
 </h1>
Please read carefully the following instructions.

 Overview
 Data Integration assignments are useful in a variety of business
 applications and are necessary due to different reasons.
 For instance, when multiple organizations are merged and has to transfer the data
 between the systems or when new system is introduced and the data has to migrate.
SCHEMA MATCHING is the first step in this process. The matching aimed at
 finding correspondences between the target and the candidate schema.

 Task Overflow
 There are three parts to the task:
 <br>
 (1) User information.
 <br>
 (2) Logical riddles.
 <br>
 (3) Training phase.
 <br>
 (4) Actual task.

 In the second stage, you will encountered some logical riddles.
 You will have 3 minutes at most to answer all,
 Try answer on as much as you can.

 The third and fourth part contains the matching task, where the training
 phase is short part aimed at introducing you the system.
 While the third part lasts unlimited time, the fourth part is constrained
 to 3 minutes.

 During the task, you will introduced 2 schemata, one stands for candidate and the other as target.
 In each level, a pair will be shown to you. A pair is 2 terms, one from the candidate schema
 and the other from target schema.
 Your mission is to decide whether pair is a match and to scale your confidence level.
 <br>
 Regarding each pair, the following information will be provided for each term:
 name, type, hierarchy, instances (if exist), system suggestion, and
 majority decision.
 <br>
 <img border="0" alt="user_task_screen" src="/images/questionScreen.PNG" style="height: 75%; width: 90%">
 <br>
 The figure above shows an example to screen exp that you will see.
 <br>
 The color legend in the hierarchy:
 <br>
 <em style="color: green">Green</em> - Parent of the term in the hierarchy.
 <br>
 <em style="color: red">Red</em> - The Term.
 <br>
 <em style="color: blue">Blue</em> - Sibling of the term in the hierarchy.
 <br><br>

Click on the button DEMO if you would like to have short demonstration.
 Otherwise, Click on the button ACTUAL TASK.
 <div style="text-align: center; margin-top: 3.5%;">
  <button class="btn btn-md btn-info px-lg-5" type="button" ng-click="hide_pages();show_exp('demo')">DEMO</button>
  <button class="btn btn-md btn-info px-lg-5" type="button" ng-click="hide_pages();show_exp('actual_task')">ACTUAL TASK</button>
 </div>
 <br><br>

</div>

